test/debug
sendfile.rar
testfile.rar
testfile.rar.partialinfo
upload.exe
.vscode/launch.json
test/testfile.rar
test/testfile.rar.partialinfo
uploader/debug
uploader/uploader.exe
testdata/
cmd/sendfile.rar.partialinfo
upload.code-workspace
uploader/testbackups/fop1_2019-09-01T13-30-00-660-differ.dif
cmd/uploader/testbackups/fop1_2019-09-01T13-30-00-660-differ.dif
