test/debug
sendfile.rar
testfile.rar
testfile.rar.partialinfo
upload.exe
.vscode/launch.json
test/testfile.rar
test/testfile.rar.partialinfo
uploader/debug
uploader/uploader.exe
testdata/
cmd/sendfile.rar.partialinfo
upload.code-workspace
uploader/testbackups/fop1_2019-09-01T13-30-00-660-differ.dif
cmd/uploader/testbackups*/
log-uploadserver.txt
cmd/uploader/uploader
.idea/.gitignore
.idea/misc.xml
.idea/modules.xml
.idea/Upload.iml
.idea/vcs.xml
*.exe~
logins/logins.file
logins.json
cmd/uploadserver/logins.json
cmd/uploadserver/logins.json.backup
GPATH
GRTAGS
GTAGS
cmd/uploadserver/__debug_bin
cmd/uploader/logins.json
cmd/uploadserver/logins.json
cmd/uploader/logins.json
*.pem
cmd/uploadserver/htmltemplates/_filelist.html
cert.list
